# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
dist/
build/

# Logs y artefactos locales
logs/
app/storages/inbox/
app/storages/outbox/
app/storages/archive/
app/storages/error/

# IDE
.vscode/
.idea/
